@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* headings and logo */
h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    
}

h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f8f0df;
    font-size: 1.4rem;
}

h3{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #404040;
    font-size: 1.4rem;
}

h4{
    
    color: #f8f0df;
    font-size: 16px;
    font-weight: 300;
}

.logo{
    margin: 15px;
    width: 600px;
    height: 122px;
}

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.text-center {
    text-align: center;
    padding: 20px;
}

.text-vertical-center {
    padding: 170px 0 10px 0;
    
  }

img {
    width: 100%;
    
}

p {
    color: #ffffff;
}

a {
    
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f8f0df;
    font-size: 0.8rem;
    text-decoration: none;
}

.blk-bg {
    background-color: rgba(0, 0, 0);
}
/* SECTION #1: HEADER */

header {
    clear: left;
    background: url("../images/mock-up-landing-section-1.jpeg");
    background-size: cover;
    background-position: center top;
    height: 400px;
}

header .col-12 {
    background-color: rgba(0, 0, 0, 0.3);
}

/* SECTION #2: BULLET MESSAGES */

.bullet-messages {

}

.bullet-messages .row {
background-color: rgba(0, 0, 0, 0.3);
}

/* SECTION #3: THE PROBLEM */

.the-problem {
    clear: left;
    background: url("../images/mock-up-landing-section-3.jpeg");
    background-size: cover;
    background-position: center top;
    height: 900px;
}

.the-problem .col-12 {
    background-color: rgba(0, 0, 0, 0.3);
}
/* SECTION #4: ACTIVITY */

.activity {
    
}
/* SECTION #5: OUR VISION */

.our-vision {
    
}
/* SECTION #6: FAQ */


.faq {
    
}
/* SECTION #7: FREEBIE */

.freebie {
    
}
/* SECTION #8: FOOTER */

.footer {
    
}