@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* Font family & Sizing set here */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d4cfcf
}

h1,
h3,
p,
li,
a {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.check {
    margin: 0px 20px;
}

.terms p {
    text-align: left; 
}

/* ------------- COLORS & BACKGROUND IMAGES ------------- */

.btn-default {
    background-color: #fe6f27;
    color: #2f2f2f;
    border-color: 2f2f2f;
}

/* SECTION #1: HEADER */

.logo {
    clear: left;
    background: url("../images/zento.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.hero {
    clear: left;
    background: url("../images/zento-hero.jpg");
    background-size: cover;
    background-position: center top;
}

.hero h1, .our-vision h1, .the-problem h1, .how-it-works h1 {
    color: #2f2f2f;
    background-color: rgba(248, 246, 246, 0.8);
}

.hero p, .our-vision p, .the-problem p, .freetrial p {
    color: #2f2f2f;
    background-color: rgba(248, 246, 246, 0.8);
}



.accordion-button {
    color: #1b1b1b;
    font-weight: 500;
}

.accordion-body {
    background-color: #c7c7c7;
}


.how-it-works p {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.5);
}


/* SECTION #2: BULLET MESSAGES */

.bullet-messages span {
    color: #2f2f2f;
}

.block {
   text-align: center;
}



/* SECTION #3: THE PROBLEM */

.the-problem {
    clear: left;
    background: url("../images/ZoomCalls.jpg");
    background-repeat: no-repeat;
}

.the-problem li {
    color: #2f2f2f;
}


.how-it-works {
    clear: left;
    background: url("../images/Q2Qmap.png");
    background-position: center top;
    background-repeat: no-repeat;
}


.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.feedback .graphic {
    padding-top: 35px;
}

.quote p {
    color: #2f2f2f;
}


.activity p {
    color: #2f2f2f;
}
/* SECTION #5: FEEDBACK */


.feedback p {
    color: #2f2f2f;
}
.feedback em {
    font-weight:bold;
    font-style:normal;
    color:rgb(44, 124, 177);
}

.feedback .checked {
    color: orange;
  }

/* SECTION #6: FAQ */

.faq h1 {
    color: #f8f0df;
}

/* SECTION #7: FREE TRIAL */

.freetrial h1,
p {
    color: #2f2f2f;
}

.freetrial {
    clear: left;
    background: url("../images/zento-free-trial.jpg");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
}




/* SECTION #8: FOOTER */

.footer p {
    color: #2f2f2f;
}

.footer p::before {
    color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

h1 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 200;
}

.terms a {
    color: #0a58ca;
}

.ind {
    text-indent: 50px;
    color: #2f2f2f;
    background-color: rgba(248, 246, 246, 0.8);
    width: 80%;
    padding: 6px 30px;
  }

/* background colours */

.white1-bg {
    background-color: #f2f2f2;
}

.white2-bg {
    background-color: #f5f5f5;
}

.white3-bg {
    background-color: #f8f8f8;
}

.blk1-bg {
    background-color: #1b1b1b;
}

.blk2-bg {
    background-color: #252525;
}

.blk3-bg {
    background-color: #2f2f2f;
}

/* ------------- Media Queries BIG DESKTOP --------- BLUE -----*/

@media only screen and (max-width: 3500px) {

    img {
        width: 65%;
    }

    .btn-media {
        background-color: #2ca3a7;
    }

    .logo {
        background-size: 25%;
    }

    h1 {
        font-size: 3.2em;
        font-weight: 500;
    }

    h3 {
        font-size: 2.5em;
        font-weight: 500;
    }

    p {
        font-size: 1.6em;
        font-weight: 300;
    }

    
    .hero h1, .hero p, .the-problem h1 {
        width: 80%;
        padding: 0px 0px 10px 0px:
    }

    h1,
    p {
        margin: auto;
    padding: 10px;
    }

    .sign-up {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .btn-default {
        font-size: 1.2em;
    }

    .text-vertical-center {
        padding: 0px 0 10px 0;

    }

    .block {
        padding: 25px 20px;
    }

    /* SECTION #1: HERO */
    .hero .top-space {
        padding: 30px;
    }
    .hero .middle-space {
        padding: 0px;
    }
    .hero .bottom-space {
        padding:280px;
    }

    /* SECTION #2: BULLET MESSAGES */

    .bullet-messages {
        padding: 0px;
    }

    .bullet-messages span {
        padding: 5px 2px;
        font-size: 1.8em;

    }

    
    /* SECTION #3: THE PROBLEM */

    .the-problem {
        background-size: 150%;
        background-position: center bottom;
    }

    .the-problem .top-space {
        padding: 275px;
    }
    .the-problem .middle-space {
        padding: 10px;
    }
    .the-problem .bottom-space {
        padding: 10px;
    }

    .the-problem p {
        width: 60%;
    }

    .the-problem h1 {
        padding: 20px 10px;
    }

    .the-problem p {
        padding: 0px;
    }


    /* SECTION #4: HOW IT WORKS / ACTIVITY */
    .activity i {
        font-size: 215px;
        padding: 35px 0px;
    }

    .activity p {
        padding: 30px;
    }

    .how-it-works p {
        padding: 20px;
    }

    .how-it-works .top-space {
        padding: 220px;
    }

    .how-it-works .bottom-space {
        padding: 20px;
    }

    .how-it-works {
        background-size: 100%;
        background-position: center bottom;
    }
   
/* SECTION #6: FAQ */

.faq h1 {
    font-size: 1.7em;
} 

.faq p {
    padding: 10px 0px;
}

    /* SECTION #7: FREE TRIAL */


    .freetrial-text p {
        font-size: 1em;
    }
    .notice p {
        font-size: 0.9em;
        padding: 10px;
    }

    .form-button {
        margin: 15px 0px 15px 165px;
        
    }

    /* SECTION #8: FOOTER */
    .footer-links a {
        font-size: 1em;
    }

    footer p {
        font-size: 1em;
        padding: 10px;
    }

}

/* ------------- Media Queries DESKTOP --------- RED -----*/

@media only screen and (max-width: 1600px) {

    .btn-media {
        background-color: #a72c2c;
    }

    .logo {
        background-size: 25%;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.5em;
        padding: 30px;
    }

    p {
        font-size: 1.2em;
    }

    .hero h1, .hero p, .the-problem h1 {
        width: 80%;
        padding: 0px 0px 10px 0px;
    }

    h1,
    p {
        margin: auto;
    }

    .sign-up {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .btn-default {
        font-size: 1.2em;
    }

    .text-vertical-center {
        padding: 0px 0 10px 0;

    }

    .block {
        padding: 25px 20px;
    }

    /* SECTION #1: HERO */
    .hero .top-space {
        padding: 20px;
    }
    .hero .middle-space {
        padding: 0px;
    }
    .hero .bottom-space {
        padding: 173px;
    }

   

    /* SECTION #2: BULLET MESSAGES */

    .bullet-messages {
        padding: 0px;
    }

    .bullet-messages span {
        padding: 5px 2px;
        font-size: 1.8em;
    }


    /* SECTION #3: THE PROBLEM */

    .the-problem {
        background-size: 150%;
        background-position: center bottom;
    }
    .the-problem .top-space {
        padding: 275px;
    }
    .the-problem .middle-space {
        padding: 10px;
    }
    .the-problem .bottom-space {
        padding: 10px;
    }
    .the-problem p {
        width: 40%;
    }

    .the-problem h1 {
        padding: 20px 10px;
    }

    .the-problem p {
        padding: 5px;
    }


    /* SECTION #4: HOW IT WORKS / ACTIVITY */
    .activity i {
        font-size: 215px;
        padding: 35px 0px;
    }

    .activity p {
        padding: 30px;
    }

    .how-it-works p {
        padding: 20px;
    }


    .how-it-works .top-space {
        padding: 220px;
    }

    .how-it-works .bottom-space {
        padding: 20px;
    }

    .how-it-works {
        background-size: 100%;
        background-position: center bottom;
    }

     /* SECTION #6: FAQ */

     .faq h1 {
        font-size: 1em;
    }

    .faq p {
        padding: 10px 0px;
    }

    /* SECTION #7: FREE TRIAL */

    .freetrial-text p {
        font-size: 1em;
    }

    .notice p {
        font-size: 0.9em;
        padding: 10px;
    }

    .form-button {
        margin: 15px 0px 15px 165px;
        
    }


    /* SECTION #8: FOOTER */
    .footer-links a {
        font-size: 1em;
    }

    footer p {
        font-size: 1em;
        padding: 10px;
    }


}

/* ------------- Media Queries Tablet --------- PURPLE -----*/

@media only screen and (max-width: 992px) {

    .btn-media {
        background-color: #5052a5;
    }

    .logo {
        background-size: 30%;
    }

    h1 {
        font-size: 2.7em;
    }

    h3 {
        font-size: 2.7em;
        padding: 15px;
    }

    p {
        font-size: 1.7em;
    }

    h1, p {
        width: 90%;
    }

    h1,
    p {
        margin: auto;
        padding: 10px 20px;
    }

    .sign-up {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        font-weight: 400;
    }

    .btn-default {
        font-size: 1.2em;
    }

    .text-vertical-center {
        padding: 0px 0 10px 0;

    }

    .block {
        padding: 20px 8px;
    }

    /* SECTION #1: HERO */
    .hero .top-space {
        padding: 50px;
    }
    .hero .middle-space {
        padding: 200px;
    }
    .hero .bottom-space {
        padding: 35px;
    }


    /* SECTION #2: BULLET MESSAGES */

    .bullet-messages {
        padding: 0px;
    }

    .bullet-messages span {
        padding: 5px 2px;
        font-size: 2em;
    }

    .bullet-messages .col-sm-4 {
        padding: 0px 38px;
    }

    .the-problem {
        background-size: 210%;
        background-position: center top;
    }

    /* SECTION #3: THE PROBLEM */

    .the-problem .top-space {
        padding: 40px;
    }
    .the-problem .middle-space {
        padding: 250px;
    }
    .the-problem .bottom-space {
        padding: 20px;
    }
    .the-problem p {
        width: 40%;
    }

    .the-problem h1 {
        padding: 20px 10px;
    }

    .the-problem p {
        padding: 0px;
    }

    

    /* SECTION #4: HOW IT WORKS / ACTIVITY */
    .activity i {
        font-size: 135px;
        padding: 35px 0px;
    }

    .activity p {
        padding: 10px;
    } 

    .how-it-works p {
        padding: 10px;    
        font-weight: 300;
    }


    .how-it-works .top-space {
        padding: 330px;
    }

    .how-it-works .bottom-space {
        padding: 20px;
    }

    .how-it-works {
        background-size: 100%;
    }

    .how-it-works {
        background-size: 120%;
        background-position: right top;
    }

    .how-it-works p {
        color: #f5f5f5;
        background-color: rgba(0, 0, 0, 0.0);
    }

    .feedback p {    
        font-weight: 300;
    }

     /* SECTION #6: FAQ */

     .faq h1 {
        font-size: 2em;
    }
    .faq p {
        padding: 0px;
    }

    /* SECTION #7: FREE TRIAL */


    .freetrial-text p {
        font-size: 1em;
    }

    .form-button {
        margin: 15px 0px 15px 165px;
        
    }

    /* SECTION #8: FOOTER */

    .footer-links a {
        font-size: 2em;
    }



    footer p {
        font-size: 1.2em;
    }
 
}


/* ------------- Media Queries  ------  GREEN ----- Mobile only */

@media only screen and (max-width: 576px) {
    
    img {
        width: 70%;
    }

    .btn-media {
        background-color: #26a52d;
    }
   
    .logo {
        background-size: 90%;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400;
    }

    h3 {
        font-size: 2em;
        font-weight: 500;
    }

    p {
        font-size: 0.98em;
        font-weight: 400;
    }
 
    .hero h1, .hero p {
        width: 100%;
        padding: 10px;
    }

    h1,
    p {
        margin: auto;
        padding: 10px 20px;
    }

    .sign-up {
        padding-top: 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .btn-default {
        font-size: 1em;
    }

    .text-vertical-center {
        padding: 0px 0 10px 0;

    }

    .block {
        padding: 20px 8px;
    }

    /* SECTION #1: HERO */
    .hero .top-space {
        padding: 10px;
    }
    .hero .middle-space {
        padding: 120px;
    }
    .hero .bottom-space {
        padding: 3px;
    }

    /* SECTION #2: BULLET MESSAGES */

    .bullet-messages {
        padding: 0px;
    }

    .bullet-messages span {
        padding: 5px 2px;
        font-size: 1em;
    }


    /* SECTION #3: THE PROBLEM */

    .the-problem {
        background-size: 210%;
        background-position: center top;
    }

    .the-problem .top-space {
        padding: 10px;
    }
    .the-problem .middle-space {
        padding: 83px;
    }
    .the-problem .bottom-space {
        padding: 10px;
    }
    .the-problem p {
        width: 40%;
    }
    .activity p {
        border-bottom: #2f2f2f solid 1px;
    }
 
    .the-problem h1 {
        padding: 20px 10px;
    }

    .the-problem p {
        padding: 5px;
        width: 100%;
    }

    /* SECTION #4: HOW IT WORKS / ACTIVITY */
    .activity i {
        font-size: 75px;
        padding: 0px;
    }

    .activity p {
        padding: 10px;
    } 

    .how-it-works p {
        padding: 10px;    
          
    }

    .how-it-works .top-space {
        padding: 145px;
    }

    .how-it-works .bottom-space {
        padding: 5px;
    }

    .how-it-works {
        background-size: 120%;
        background-position: right top;
    }

    .how-it-works p {
        color: #f5f5f5;
        background-color: rgba(0, 0, 0, 0.0);
    }

  /* SECTION #6: FAQ */

  .faq h1 {
    font-size: 1em;
}

    /* SECTION #7: FREE TRIAL */
    .freetrial p {
        font-size: 1em;
        text-align: left;
        padding-left: 27px;
    }

    .notice p {
        font-size: 0.8em;
        padding: 10px;
    }

    /* SECTION #8: FOOTER */
    .footer-links {
        padding: 0px;
    }

    .footer-links a {
        font-size: 1em;
    }

    footer p {
        font-size: 1em;
    }


}

/* form */
.form-control {
    margin: 5px;
}


.my-form-style {
    width: 90%;
    margin: auto;
}

.my-form-style p {
    padding: 0px;
}